@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="detail-student">
    <div class="container">
        @*//thông tin học sinh*@
        <div class="info-student">
          @*  @Html.Action("DetailStudent", "Parent", new { id = @Context.User.Identity.Name})*@
        </div>
        @*thông tin thực đơn*@
        <div class="menu">

        </div>
        @*//thông tin học phí*@
        <div class="course">
        </div>
    </div>
</div>
