
@{
    ViewBag.Title = "HoanThanhDangKi";
    Layout = "~/Areas/Manager/Views/Shared/_DefaultPartial.cshtml";
}
<div class="successLogin">
<h4>Hi,@Context.User.Identity.Name ! Đăng kí tài khoản mới thành công ! <b>@Html.ActionLink("Đăng nhập","DangNhap","TaiKhoan")</b> để vào hệ thống.</h4>
    </div>

