@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}
<section class="content-header">
    <h1>
        <i class="fa fa-building-o"></i>
        Admin
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Admin</li>
    </ol>
</section>
<section class="content">
    <!-- Main content -->
    <div class="container body-content admin-content">
        <h2>Hi, <b>@Context.User.Identity.Name</b><br />Chào mừng bạn đến với trang quản trị.</h2>
        <div class="bg-admin">
            <img src="~/Content/images/kid.png" />
        </div>
        @*@Html.ActionLink("Signout", "SignOut", "Account")*@
    </div>
</section>
<style>
    .admin-content h2 {
        text-align: center;
    }

    .bg-admin img {
        width: 40%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
</style>