
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-building-o" aria-hidden="true"></i>
        Quản lý học sinh
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Quản lý học sinh</li>
    </ol>
</section>
<section class="content">
    <div id="listHocSinh">
        @Html.Action("HocSinhPartial", "HocSinh")
    </div>
</section>

