<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Website trường mầm non</title>
    <!--Add css-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" media="all" />
    <link href="~/Content/css/swipebox.css" rel="stylesheet" />
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <!--jquery-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <!--bootstrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>
    <!-- fonts -->
    @*<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>*@
    @*<link href='//fonts.googleapis.com/css?family=Alegreya:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>*@
    <!-- //fonts -->
    <!-- start-smoth-scrolling -->
    <script src="~/Scripts/move-top.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>
<body>
    <!-- header -->
    <div class="header">
        <div class="top-header">
            <div class="container">
                <div class="social-contact">
                    <ul class="social-icon">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="info-contact">
                    <ul>
                        <li><i class="fa fa-phone"></i>+124 456 7858</li>
                        <li><i class="fa fa-envelope-o"></i>info@mamnon.com</li>
                    </ul>
                </div>
                <div class="search-index">
                    <form>
                        <input type="search" placeholder="Tìm kiếm...">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="menu-index">
            <div class="container">
                <div class="header-nav">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h2><a class="navbar-brand" href="/Home/Index"><i class="glyphicon glyphicon-education" aria-hidden="true"></i></a></h2>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a class="hvr-overline-from-center button2 active" href="index.html">Trang chủ</a></li>
                                <li><a class="hvr-overline-from-center button2" href="news.html">Tin tức</a></li>
                                <li><a class="hvr-overline-from-center button2" href="about.html">Thông tin</a></li>
                                <li><a class="hvr-overline-from-center button2" href="services.html">Tuyển sinh</a></li>
                                <li><a class="hvr-overline-from-center button2" href="contact.html">Liên hệ</a></li>
                            </ul>
                        </div><!-- /navbar-collapse -->
                        <!-- search-scripts -->
                        <script src="~/Scripts/classie.js"></script>
                        <!-- //search-scripts -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!--// header -->
    <div class="body-main">
        <!-- banner -->
        <div class="banner">
            <div class="container">
                <script src="~/Scripts/responsiveslides.min.js"></script>
                <script>
                    // You can also use "$(window).load(function() {"
                    $(function () {
                        // Slideshow 4
                        $("#slider3").responsiveSlides({
                            auto: true,
                            pager: true,
                            nav: false,
                            speed: 500,
                            namespace: "callbacks",
                            before: function () {
                                $('.events').append("<li>before event fired.</li>");
                            },
                            after: function () {
                                $('.events').append("<li>after event fired.</li>");
                            }
                        });
                    });
                </script>
                <div id="top" class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <div class="banner-info">
                                <h3>Dành những điều tốt đẹp nhất cho trẻ em</h3>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>Xây dựng trường mầm non thân thiện</h3>
                            </div>
                        </li>
                        <li>
                            <div class="banner-info">
                                <h3>Bé vui hơn khi đến trường mỗi ngày</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //banner -->
        @RenderBody()
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid">
                    <a href="/Home/Index"><img src="" style="width:100%;" /></a>
                    <p>Trường mầm non Lan Mẫu giúp trẻ có cơ sở phát triển về mọi mặt về thể chất và tinh thần.</p>

                </div>
                <div class="col-md-3 footer-grid">
                    <h4>LINK LIÊN KẾT </h4>
                    <ul>
                        <li><a href="#">HỎI ĐÁP</a></li>
                        <li><a href="#">TIN TỨC</a></li>
                        <li><a href="#">LIÊN HỆ</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>HỖ TRỢ</h4>
                    <ul>
                        <li><a href="#">Hỗ trợ trực tuyến: </a></li>
                        <li><a href="#">Tư vấn tuyển sinh: </a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4>ĐĂNG KÝ NHẬN TIN</h4>
                    <p> Đăng kí để nhận thông tin mới nhất từ nhà trường</p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập email (*)...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">ĐĂNG KÍ</button>
                        </span>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <p> &copy; 2016 Information Technology. All Rights Reserved | Design by: <a href="#a"> Nguyễn Thị Trang</a></p>
        </div>
    </div>

    <!-- smooth scrolling -->
    <script type="text/javascript">
        $(document).ready(function () {
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    @RenderSection("Scripts", false/*required*/)
</body>
</html>
