
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_AdminPartial.cshtml";
}

<section class="content-header">
    <h1>
        <i class="fa fa-list"></i>
        Nhóm lớp
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Nhóm lớp</li>
    </ol>
</section>
<section class="content">
    <div id="listNhomLop">
        @Html.Action("NhomLopPartial", "NhomLop")
    </div>
</section>

